<!DOCTYPE html>
<html>
<head lang="en">
</head>
<body>
<div th:fragment="todoDetailFileds" id="todo-detail-fields">
  <div class="row form-horizontal">
    <!--状态-->
    <div class="col-xs-6">
      <div class="form-group">
        <span class="col-xs-5 text-muted">状态：</span>

        <div class="col-xs-7 btn-group">
          <span class="label label-default dropdown-toggle" data-toggle="dropdown" ng-class="{pointer : !todolist.archived &amp;&amp; todo.id}">
              {{todoUtilService.getStatus(todo).name}}
          </span>
          <ul class="dropdown-menu" role="menu" ng-show="!todolist.archived &amp;&amp; todo.id">
            <li ng-repeat="status in todoStatuses | filter:statusFilter">
              <a class="pointer" ng-click="todo.setStatus(status.value)">
                {{status.name}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 任务类型 -->
    <div class="col-xs-6">
      <div class="form-group">
        <span class="col-xs-5 text-muted">任务类型：</span>

        <div class="col-xs-7 btn-group">
          <span class="todo-type-icons" data-toggle="dropdown" ng-class="{pointer : !todolist.archived &amp;&amp; todo.status != 'closed'}">
            <i class="fa" ng-class="{'fa-bars' : todoUtilService.getType(todo).value == 'task',
                                    'fa-bookmark' : todoUtilService.getType(todo).value == 'story',
                                    'fa-bug' : todoUtilService.getType(todo).value == 'bug'}"></i>
            {{todoUtilService.getType(todo).name}}
          </span>
          <ul class="dropdown-menu" role="menu" ng-show="!todolist.archived &amp;&amp; todo.status != 'closed'">
            <li ng-repeat="type in todoTypes" ng-click="setTodoType(type)">
              <a class="pointer">
                <i class="fa {{type.icon}}" ng-class="{'fa-bars' : type.value == 'task',
                      'fa-bookmark' : type.value == 'story',
                      'fa-bug' : type.value == 'bug'}"></i>
                {{type.name}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 优先级 -->
    <div class="col-xs-6">
      <div class="form-group">
        <span class="col-xs-5 text-muted">优先级：</span>

        <div class="col-xs-7 btn-group">
          <span data-toggle="dropdown" ng-class="{pointer : !todolist.archived &amp;&amp; todo.status != 'closed'}">
            <span ng-class="{
                    'text-danger'   : todo.priority ==1,
                    'text-warning'  : todo.priority ==2,
                    'text-primary'  : todo.priority ==3,
                    'text-info'     : todo.priority ==4,
                    'text-muted'    : todo.priority ==5}">
              <i class="fa fa-circle-o"></i>
              {{todoUtilService.getPriority(todo).desc}}
            </span>
          </span>
          <ul class="dropdown-menu" role="menu" ng-show="!todolist.archived &amp;&amp; todo.status != 'closed'">
            <li ng-repeat="priority in priorities" ng-click="setPriority(priority.value)">
              <a ng-class="{
                    'text-danger' : priority.value ==1,
                    'text-warning' : priority.value ==2,
                    'text-primary' : priority.value ==3,
                    'text-info' : priority.value ==4,
                    'text-muted' : priority.value ==5 }">
                {{priority.desc}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 所属列表 -->
    <div class="col-xs-6" id="todolist-menu">
      <div class="form-group">
        <span class="col-xs-5 text-muted">所属列表：</span>

        <div class="col-xs-7 btn-group">
          <span data-toggle="dropdown" ng-class="{pointer : !todolist.archived &amp;&amp; todo.status != 'closed'}">
            {{todoUtilService.getTodolist(todo).name}}
          </span>
          <ul class="dropdown-menu todolist-dropdown-list" role="menu" ng-show="!todolist.archived &amp;&amp; todo.status != 'closed'">
            <li ng-repeat="todolist in todolists" ng-click="todo.setTodolistId(todolist.id)">
              <a class="pointer">{{todolist.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 截止日期 -->
    <div class="col-xs-6 ob-date">
      <div class="form-group">
        <span class="col-xs-5 text-muted">截止日期：</span>

        <div class="col-xs-7">
          <input type="hidden" class="form-control" datepicker-popup="yyyy-MM-dd"
                 ng-change="todo.updateByAttrs(['assigneeId', 'dueDate'], false)"
                 ng-model="todo.dueDate" is-open="dtpOpened" close-text="关闭" clear-text="不指定" current-text="今天"
                 min-date="todoDueDateMin"/>
          <span class="pointer" ng-click="openDTP($event)" ng-show="!todolist.archived &amp;&amp; todo.status != 'closed'">
            <span ng-show="todo.dueDate">{{ todo.dueDate | date: 'yyyy-MM-dd'}}</span>
            <span ng-hide="todo.dueDate">未设置</span>
          </span>
          <span ng-show="todolist.archived ||  todo.status == 'closed'">
            <span ng-show="todo.dueDate">{{ todo.dueDate | date: 'yyyy-MM-dd'}}</span>
            <span ng-hide="todo.dueDate">未设置</span>
          </span>
        </div>
      </div>
    </div>

    <!-- 执行人 -->
    <div id="user" class="col-xs-6">
      <div class="form-group">
        <span class="col-xs-5 text-muted">执行人：</span>

        <div class="col-xs-7 btn-group">
          <span class="pointer todo-user" data-toggle="dropdown" ng-click="getProjectUsers(false, todo.projectId, todo.companyId)"
                ng-class="{pointer : !todolist.archived &amp;&amp; todo.status != 'closed'}">
            <img ng-src="{{todo.user.avatarUrl}}"/>
            <span class="username">{{todo.user.name}}</span>
          </span>
          <div class="pull-right" style="display:inline-block">
            <i class="fa fa-star" style="line-height: 25px; cursor: pointer" title="设置为推荐责任人-{{recommend.name}}" ng-click="todo.assign(recommend)">推荐:{{recommend.name}}</i>
          </div>

          <ul class="dropdown-menu users" role="menu" ng-show="!todolist.archived &amp;&amp; todo.status != 'closed'">
            <li ng-repeat="user in projectUsers">
              <a class="pointer" ng-click="todo.assign(user)">
                <img ng-src="{{user.avatarUrl}}"/> {{user.name}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
</body>
</html>