<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title th:remove="all">Templates for Thymeleaf Email Support</title>
</head>
<body>

<table id="teamforge_email" style="background:#ffffff;margin:0;padding:0;border:0;width:100%;text-align:left;border-collapse:collapse;border-spacing:0" id="msg">
    <tbody>
        <tr>
            <td> 
                <p style="font-size:16px;line-height:40px;font-family:'Helvetica Neue',helvetica,sans-serif;color:#822e14">
                    <span th:text="${userName}"></span>给您分配了一个任务：
                </p>
            </td>
        </tr>
        <tr>
            <td> 
                <p style="margin:19px 0;padding:15px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#ffffff;width:100%">
                    <span th:text="${content}"></span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height:19px;font-size:14px;margin:19px 0 9px;font-family:&quot;Helvetica Neue&quot;,helvetica,arial,sans-serif">
                    <a th:href="@{|${host}/${url}|}" target="_blank"> 在onboard上查看该信息</a>
                </p>
            </td>
        </tr>
        <tr>
            <td> 
                <p style="font-family:&quot;Helvetica Neue&quot;,helvetica,arial,sans-serif;margin:0 0 19px;line-height:16px;color:grey;font-size:12px;margin-bottom:8px">
                    该邮件已发送至: 
                    <span style="margin:0 5px" th:each="subscriber : ${subscribers}" th:text="${subscriber.name}"></span>  
                </p>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>

