<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headTag(title)">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="description" content="项目管理和团队协作工具"/>
  <meta name="keywords" content="项目管理,团队协作"/>
  <base href="/"/>

  <title th:text="${title}+' | Onboard'">OSGi China Header</title>

  <link rel="icon" type="image/x-icon" href="/static/img/favicon.png"/>

  <!-- build:css(.) /static/css/application.css -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/static/lib/fontawesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/static/lib/glyphicons-pro/glyphicons/css/glyphicons.css"/>
  <link rel="stylesheet" href="/static/lib/glyphicons-pro/glyphicons_halflings/css/halflings.css"/>
  <link rel="stylesheet" href="/static/lib/glyphicons-pro/glyphicons_social/css/social.css"/>
  <link rel="stylesheet" href="/static/lib/glyphicons-pro/glyphicons_filetypes/css/filetypes.css"/>
  <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap-colorselector/css/bootstrap-colorselector.css"/>
  <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap-popover-x/css/bootstrap-popover-x.min.css"/>
  <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap-drawer/css/bootstrap-drawer.css"/>
  <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"/>
  <link rel="stylesheet" href="/static/lib/jquery-ui/jquery-ui.min.css"/>
  <link rel="stylesheet" href="/static/lib/fullcalendar/fullcalendar.min.css"/>
  <link rel="stylesheet" href="/static/lib/highlight/default.min.css"/>
  <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap-imgSelector/css/bootstrap-imgSelector.css"/>
  <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap-memberselector/css/bootstrap-memberselector.css"/>
  <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap-switch/css/bootstrap-switch.min.css"/>
  <link rel="stylesheet" href="/static/lib/angular/angular-treeview.css"/>
  <link rel="stylesheet" href="/static/lib/angular/angular-memberselector.css"/>
  <link rel="stylesheet" href="/static/lib/angular/angular-datepicker.css"/>
  <link rel="stylesheet" href="/static/lib/angular/angular-brick.css"/>
  <link rel="stylesheet" href="/static/lib/angular/angular-stories-tree.css"/>
  <link rel="stylesheet" href="/static/lib/xcharts/xcharts.css"/>
  <link rel="stylesheet" href="/static/lib/summernote/summernote.css"/>
  <link rel="stylesheet" href="/static/lib/icheck/skins/all.css"/>
  <link rel="stylesheet" href="/static/css/onboard.css"/>
  <link rel="stylesheet" href="/static/lib/angular/angular-ui-tree.min.css"/>
  <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap-markdown/bootstrap-markdown.min.css"/>
  <link rel="stylesheet" href="/static/lib/at/jquery.atwho.min.css"/>
  <link rel="stylesheet" href="/static/lib/at/twemoji-awesome-modified.css"/>

  <!-- build:clean(.) /static/css/application.css-->
  <link rel="stylesheet/less" type="text/css" href="/static/less/onboard/onboard.less"/>
  <script src="/static/lib/less.js/less-1.7.4.min.js" type="text/javascript"></script>
  <!-- endbuild -->

  <!-- build:js(.) /static/js/application.js -->
  <!-- Javascript 3rd-party Definition -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/jquery-ui/jquery-ui.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-markdown/jquery.hotkeys.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-colorselector/js/bootstrap-colorselector.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-filestyle.min.js"></script>
  <script src="/static/lib/bootstrap/bootstrap3-typeahead.min.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-popover-x/js/bootstrap-popover-x.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-drawer/js/bootstrap-drawer.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-switch/js/bootstrap-switch.min.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-markdown/markdown-js.min.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-markdown/marked.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-markdown/to-markdown.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-markdown/bootstrap-markdown.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-markdown/bootstrap-markdown.zh.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-markdown/md-editor-by-harttle.js"></script>
  <script src="/static/lib/at/jquery.caret.min.js"></script>
  <script src="/static/lib/at/jquery.atwho.min.js"></script>
  <script src="/static/lib/jquery/jquery-ias.min.js"></script>
  <script src="/static/lib/moment/moment.min.js"></script>
  <script src="/static/lib/moment/locale/zh-cn.js"></script>
  <script src="/static/lib/angular/angular-file-upload-shim.min.js"></script>
  <script src="/static/lib/angular/angular.min.js"></script>
  <script src="/static/lib/angular/ui-bootstrap-tpls-0.12.0.min.js"></script>
  <script src="/static/lib/angular/angular-resource.min.js"></script>
  <script src="/static/lib/angular/angular-route.min.js"></script>
  <script src="/static/lib/angular/angular-confirm-field.min.js"></script>
  <script src="/static/lib/angular/angular-file-upload.min.js"></script>
  <script src="/static/lib/angular/angular-ui-calendar.js"></script>
  <script src="/static/lib/angular/angular-ui-router.min.js"></script>
  <script src="/static/lib/angular/checklist-model.js"></script>
  <script src="/static/lib/angular/angular-highlightjs.min.js"></script>
  <script src="/static/lib/angular/angular-sanitize.min.js"></script>
  <script src="/static/lib/angular/angular-brick.js"></script>
  <script src="/static/lib/angular/angular-stories-tree.js"></script>
  <!--<script src="/static/lib/angular-strap/angular-strap.min.js"></script>-->
  <!--<script src="/static/lib/angular-strap/angular-strap.tpl.min.js"></script>-->
  <script src="/static/lib/fullcalendar/fullcalendar.min.js"></script>
  <script src="/static/lib/fullcalendar/lang/zh-cn.js"></script>
  <script src="/static/lib/fullcalendar/gcal.js"></script>
  <script src="/static/lib/angular/angular-ui-sortable.js"></script>
  <script src="/static/lib/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
  <script src="/static/lib/angular/angular-moment.min.js"></script>
  <script src="/static/lib/angular/angular-bootstrap-switch.min.js"></script>
  <script src="/static/lib/angular/angular-treeview.js"></script>
  <script src="/static/lib/angular/angular-memberselector.js"></script>
  <script src="/static/lib/angular/angular-datepicker.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-imgSelector/js/bootstrap-imgSelector.js"></script>
  <script src="/static/lib/angular/angular-infinite-scroll.js"></script>
  <script src="/static/lib/bootstrap/bootstrap-memberselector/js/bootstrap-memberselector.js"></script>
  <script src="/static/lib/highlight/highlight.min.js"></script>
  <script src="/static/lib/underscore/underscore-min.js"></script>
  <script src="/static/lib/d3/d3.min.js"></script>
  <script src="/static/lib/xcharts/xcharts.js"></script>
  <script src="/static/lib/pdfobj/pdfobject.js"></script>
  <script src="/static/lib/angular/angular-animate.min.js"></script>
  <script src="/static/lib/summernote/summernote.min.js"></script>
  <script src="/static/lib/summernote/summernote-zh-CN.js"></script>
  <script src="/static/lib/highcharts/highcharts.js"></script>
  <script src="/static/lib/highcharts/highcharts-more.js"></script>
  <!-- <script src="/static/lib/highcharts/modules/exporting.js"></script> -->
  <script src="/static/lib/highcharts/modules/no-data-to-display.js"></script>
  <script src="/static/lib/icheck/icheck.min.js"></script>
  <!-- zero clipboard -->
  <script src="/static/lib/zeroclipboard/ZeroClipboard.min.js"></script>
  <!-- story lib -->
  <script src="/static/lib/angular/angular-ui-tree.js"></script>
  <!-- word cloud -->
  <script src="/static/lib/d3-cloud/d3-layout-cloud.js"></script>
  <script src="/static/lib/echarts/dist/echarts-all.js"></script>
  <!-- Js Modules -->
  <script src="/static/js/common-init.js"></script>
  <script src="/static/js/modules/common.js"></script>
  <!--<script src="/static/js/modules/feedback.js"></script>-->
  <script src="/static/js/modules/onboard.js"></script>

  <!-- onboard ng module -->
  <script src="/static/js/ng-modules/onboard/index.js"></script>
  <script src="/static/js/ng-modules/onboard/onboard-ctrl.js"></script>
  <script src="/static/js/ng-modules/onboard/companies-ctrl.js"></script>
  <script src="/static/js/ng-modules/onboard/account-ctrl.js"></script>

  <!-- util ng module-->
  <script src="/static/js/ng-modules/util/index.js"></script>
  <script src="/static/js/ng-modules/util/resize-directive.js"></script>
  <script src="/static/js/ng-modules/util/drawer-service.js"></script>
  <script src="/static/js/ng-modules/util/richtexteditor-service.js"></script>
  <script src="/static/js/ng-modules/util/ias-pager-factory.js"></script>
  <script src="/static/js/ng-modules/util/drawer-directive.js"></script>
  <script src="/static/js/ng-modules/util/file-size-filter.js"></script>
  <script src="/static/js/ng-modules/util/theme-service.js"></script>
  <script src="/static/js/ng-modules/util/activity-list-directive.js"></script>
  <script src="/static/js/ng-modules/util/dropdown-form-directive.js"></script>
  <script src="/static/js/ng-modules/util/burndown-chart-service.js"></script>
  <script src="/static/js/ng-modules/util/redirect-directive.js"></script>
  <script src="/static/js/ng-modules/util/open-drawer-directive.js"></script>
  <script src="/static/js/ng-modules/util/new-comment-directive.js"></script>
  <script src="/static/js/ng-modules/util/preview-directive.js"></script>
  <script src="/static/js/ng-modules/util/comment-directive.js"></script>
  <script src="/static/js/ng-modules/util/date-service.js"></script>
  <script src="/static/js/ng-modules/util/wordCloud-service.js"></script>
  <script src="/static/js/ng-modules/util/util-service.js"></script>
  <script src="/static/js/ng-modules/util/emoji-service.js"></script>
  <script src="/static/js/ng-modules/util/commit-code.js"></script>
  <script src="/static/js/ng-modules/util/spinner-directive.js"></script>
  
  <!-- data ng module -->
  <script src="/static/js/ng-modules/data/index.js"></script>
  <script src="/static/js/ng-modules/data/base-service.js"></script>
    <script src="/static/js/ng-modules/data/user-data-service.js"></script>
    <script src="/static/js/ng-modules/data/story-data-service.js"></script>
    <script src="/static/js/ng-modules/data/step-data-service.js"></script>
    <script src="/static/js/ng-modules/data/step-service.js"></script>
    <script src="/static/js/ng-modules/data/bug-data-service.js"></script>
  <script src="/static/js/ng-modules/data/company-service.js"></script>
  <script src="/static/js/ng-modules/data/user-service.js"></script>
  <script src="/static/js/ng-modules/data/url-service.js"></script>
  <script src="/static/js/ng-modules/data/project-service.js"></script>
  <script src="/static/js/ng-modules/data/status-service.js"></script>
  <script src="/static/js/ng-modules/data/todo-data-service.js"></script>
  <script src="/static/js/ng-modules/data/todo-service.js"></script>
  <script src="/static/js/ng-modules/data/todo-util-service.js"></script>
  <script src="/static/js/ng-modules/data/todolist-data-service.js"></script>
  <script src="/static/js/ng-modules/data/todolist-service.js"></script>
  <script src="/static/js/ng-modules/data/iteration-data-service.js"></script>
  <script src="/static/js/ng-modules/data/iteration-service.js"></script>
  <script src="/static/js/ng-modules/data/todo-stats-service.js"></script>
  <script src="/static/js/ng-modules/data/activity-stats-service.js"></script>
  <script src="/static/js/ng-modules/data/discussion-service.js"></script>
  <script src="/static/js/ng-modules/data/discussion-data-service.js"></script>
  <script src="/static/js/ng-modules/data/topic-data-service.js"></script>
  <script src="/static/js/ng-modules/data/discussion-websocket-service.js"></script>
  <script src="/static/js/ng-modules/data/todo-websocket-service.js"></script>
  <script src="/static/js/ng-modules/data/todolist-websocket-service.js"></script>
  <script src="/static/js/ng-modules/data/web-socket-service.js"></script>
  <script src="/static/js/ng-modules/data/comment-service.js"></script>
  <script src="/static/js/ng-modules/data/comment-websocket-service.js"></script>
  <script src="/static/js/ng-modules/data/document-service.js"></script>
  <script src="/static/js/ng-modules/data/document-websocket-service.js"></script>
  <script src="/static/js/ng-modules/data/data-proxy-factory.js"></script>
  <script src="/static/js/ng-modules/data/uploads-service.js"></script>
  <script src="/static/js/ng-modules/data/uploads-websocket-service.js"></script>
  <script src="/static/js/ng-modules/data/bug-service.js"></script>
  <script src="/static/js/ng-modules/data/bug-websocket-service.js"></script>
  <script src="/static/js/ng-modules/data/story-websocket-service.js"></script>
  <script src="/static/js/ng-modules/data/story-service.js"></script>
  <script src="/static/js/ng-modules/data/iteration-websocket-service.js"></script>
  <script src="/static/js/ng-modules/data/keyword-service.js"></script>
  <script src="/static/js/ng-modules/data/collections-service.js"></script>
  <script src="/static/js/ng-modules/data/commit-stats-service.js"></script>

  <!-- company ng module -->
  <script src="/static/js/ng-modules/company/index.js"></script>
  <script src="/static/js/ng-modules/company/company-ctrl.js"></script>
  <script src="/static/js/ng-modules/company/users-ctrl.js"></script>
  <script src="/static/js/ng-modules/company/activities-ctrl.js"></script>
  <script src="/static/js/ng-modules/company/me-ctrl.js"></script>
  <script src="/static/js/ng-modules/company/project-edit-ctrl.js"></script>
  <script src="/static/js/ng-modules/company/search-ctrl.js"></script>
  <script src="/static/js/ng-modules/company/projects-ctrl.js"></script>
  <script src="/static/js/ng-modules/company/retrospect-ctrl.js"></script>
  <script src="/static/js/ng-modules/company/status-ctrl.js"></script>
  <script src="/static/js/ng-modules/company/collection-ctrl.js"></script>
  <script src="/static/js/ng-modules/company/notifications-ctrl.js"></script>
  <!-- project ng module -->
  <script src="/static/js/ng-modules/project/index.js"></script>
  <script src="/static/js/ng-modules/project/project-ctrl.js"></script>

  <!-- todo ng module -->
  <script src="/static/js/ng-modules/todo/index.js"></script>
  <script src="/static/js/ng-modules/todo/todo-ctrl.js"></script>
  <script src="/static/js/ng-modules/todo/todo-item-ctrl.js"></script>
  <script src="/static/js/ng-modules/todo/todolist-ctrl.js"></script>
  <script src="/static/js/ng-modules/todo/todolists-ctrl.js"></script>
  <script src="/static/js/ng-modules/todo/acrive-todolists-ctrl.js"></script>
  <script src="/static/js/ng-modules/todo/open-todolists-ctrl.js"></script>
  <script src="/static/js/ng-modules/todo/link-todo-ctrl.js"></script>
  <script src="/static/js/ng-modules/todo/new-todo-ctrl.js"></script>
  <script src="/static/js/ng-modules/todo/todolist-copy-ctrl.js"></script>

  <!-- story ng module -->
  <script src="/static/js/ng-modules/story/index.js"></script>
  <script src="/static/js/ng-modules/story/stories-ctrl.js"></script>
  <script src="/static/js/ng-modules/story/archived-stories-ctrl.js"></script>
  <script src="/static/js/ng-modules/story/story-ctrl.js"></script>
  <script src="/static/js/ng-modules/story/step-ctrl.js"></script>

  <!-- iteration ng module -->
  <script src="/static/js/ng-modules/iteration/index.js"></script>
  <script src="/static/js/ng-modules/iteration/active-iteration-ctrl.js"></script>
  <script src="/static/js/ng-modules/iteration/completing-iteration-ctrl.js"></script>
  <script src="/static/js/ng-modules/iteration/active-iteration-statistics-ctrl.js"></script>
  <script src="/static/js/ng-modules/iteration/active-iteration-todos-ctrl.js"></script>
  <script src="/static/js/ng-modules/iteration/completed-iteration-ctrl.js"></script>
  <script src="/static/js/ng-modules/iteration/completed-iterations-ctrl.js"></script>
  <script src="/static/js/ng-modules/iteration/created-ierations-ctrl.js"></script>
  <script src="/static/js/ng-modules/iteration/iterations-ctrl.js"></script>
  <script src="/static/js/ng-modules/iteration/link-iteration-ctrl.js"></script>
  <script src="/static/js/ng-modules/iteration/iteration-todoStats-ctrl.js"></script>
  <script src="/static/js/ng-modules/iteration/iteration-edit-ctrl.js"></script>

  <!-- repository ng module -->


  <!-- statistic ng module -->
  <script src="/static/js/ng-modules/statistics/index.js"></script>
  <script src="/static/js/ng-modules/statistics/settings-factory.js"></script>
  <script src="/static/js/ng-modules/statistics/trend-factory.js"></script>
  <script src="/static/js/ng-modules/statistics/punch-card-factory.js"></script>
  <script src="/static/js/ng-modules/statistics/commits-trend-factory.js"></script>
  <script src="/static/js/ng-modules/statistics/commits-loc-trend-factory.js"></script>
  <script src="/static/js/ng-modules/statistics/commits-punch-card-factory.js"></script>
  <script src="/static/js/ng-modules/statistics/activity-punch-card-factory.js"></script>
  <script src="/static/js/ng-modules/statistics/commits-chart-ctrl.js"></script>
  <script src="/static/js/ng-modules/statistics/chart-loc-ctrl.js"></script>
  <script src="/static/js/ng-modules/statistics/commits-punch-card-ctrl.js"></script>
  <script src="/static/js/ng-modules/statistics/statistics-ctrl.js"></script>
  <script src="/static/js/ng-modules/statistics/statistics-group-ctrl.js"></script>
  <script src="/static/js/ng-modules/statistics/statistics-todo-ctrl.js"></script>
  <script src="/static/js/ng-modules/statistics/pie-chart-factory.js"></script>
  <script src="/static/js/ng-modules/statistics/column-range-factory.js"></script>
  <script src="/static/js/ng-modules/statistics/stacked-bar-factory.js"></script>
  <script src="/static/js/ng-modules/statistics/user-menu-ctrl.js"></script>
  <script src="/static/js/ng-modules/statistics/workModel-service.js"></script>
  <script src="/static/js/ng-modules/statistics/bar-factory.js"></script>

  <!-- discussions ng module-->
  <script src="/static/js/ng-modules/discussions/index.js"></script>
  <script src="/static/js/ng-modules/discussions/discussions-ctrl.js"></script>
  <script src="/static/js/ng-modules/discussions/discussion-edit-ctrl.js"></script>
  <script src="/static/js/ng-modules/discussions/discussion-show-ctrl.js"></script>

  <!-- upload ng module -->
  <script src="/static/js/ng-modules/upload/index.js"></script>
  <script src="/static/js/ng-modules/upload/upload-detail.js"></script>
  <script src="/static/js/ng-modules/upload/uploads-ctrl.js"></script>
  <script src="/static/js/ng-modules/upload/fileDropZone-ctrl.js"></script>
  <script src="/static/js/ng-modules/upload/attachment-ctrl.js"></script>
  <script src="/static/js/ng-modules/upload/tag-and-attachments-ctrl.js"></script>

  <!-- tab ng module -->
  <script src="/static/js/ng-modules/tab/index.js"></script>
  <script src="/static/js/ng-modules/tab/tab-service.js"></script>
  <script src="/static/js/ng-modules/tab/tab-set-ctrl.js"></script>
  <script src="/static/js/ng-modules/tab/activity-tab-ctrl.js"></script>
  <script src="/static/js/ng-modules/tab/todo-tab-ctrl.js"></script>
  <script src="/static/js/ng-modules/tab/story-tab-ctrl.js"></script>
  <script src="/static/js/ng-modules/tab/comment-tab-ctrl.js"></script>
  <script src="/static/js/ng-modules/tab/comment-image-modal-ctrl.js"></script>

  <!-- bug ng module -->
  <script src="/static/js/ng-modules/bugs/index.js"></script>
  <script src="/static/js/ng-modules/bugs/bugs-ctrl.js"></script>
  <script src="/static/js/ng-modules/bugs/bugs-stats-ctrl.js"></script>

  <!-- websocket ng module -->
  <script src="/static/js/ng-modules/websocket/index.js"></script>
  <script src="/static/js/ng-modules/websocket/websocket-service.js"></script>
  
  <!-- plugin less -->
  <script th:if="${not #lists.isEmpty(jsPluginFiles)}" th:each="jsPluginFile : ${jsPluginFiles}" th:src="${jsPluginFile}" ></script>
  
  <link rel="stylesheet" th:if="${not #lists.isEmpty(lessPluginFiles)}" th:each="lessPluginFile : ${ lessPluginFiles }" th:href="${lessPluginFile}"/>
  <!-- endbuild -->
  
  <!-- plugin ng module -->
  <script th:if="${not #lists.isEmpty(jsPluginFiles)}" th:each="jsPluginFile : ${jsPluginFiles}" th:src="${jsPluginFile}" ></script>
  
  <!-- zero clipboard -->
  <script type="text/javascript">
    ZeroClipboard.config( { swfPath: "/static/lib/zeroclipboard/ZeroClipboard.swf" } );
  </script>
  
   <!--account related -->
   <script src="/static/js/ng-modules/account/index.js"></script>
   <script src="/static/js/ng-modules/account/forget-password-ctrl.js"></script>
  

</head>
<body>
</body>
</html>
