<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>

<div th:fragment="selectCompany" id="companies">
  <div class="content container">
    <div class="page-header">
      <h3>选择团队</h3>
    </div>

    <div class="list-group">
      <a ng-repeat="company in companies" ui-sref="company.projects({companyId: company.id})" ui-sref-opts="{ reload: true }" class="list-group-item">
        <h4 ng-bind="company.name" class="list-group-item-heading"></h4>
        <p class="list-group-item-text" ng-bind="company.description"></p>
      </a>
    </div>

    <div class="page-header">
      <h3>创建团队</h3>
    </div>

    <div ng-show="status=='error'"   class="alert alert-danger">{{message}}</div>
    <div ng-show="status=='success'" class="alert alert-success">创建成功</div>

    <form role="form" name="newTeamForm">
      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="例如：北京北大软件工程发展有限公司" ng-model="newTeam.name"
               required="" ng-maxlength="50"/>
      </div>
      <div ng-show="newTeamForm.$dirty &amp;&amp; newTeamForm.name.$error.required" class="alert alert-danger">
        不能为空
      </div>
      <div ng-show="newTeamForm.name.$error.maxlength" class="alert alert-danger">
        团队名最长为50
      </div>
      <button ng-click="createTeam()" class="btn btn-primary" ng-disabled="newTeamForm.$invalid || status == 'creating'">
        <span ng-show="status == 'creating'">正在创建</span>
        <span ng-hide="status == 'creating'">创建团队</span>
      </button>
    </form>

  </div>
</div>

</body>
</html>
