<table id="teamforge_email" style="background:#ffffff;margin:0;padding:0;border:0;width:100%;text-align:left;border-collapse:collapse;border-spacing:0" id="msg">
    <tbody>
        <tr>
            <td> 
                <p style="font-family:&quot;Helvetica Neue&quot;,helvetica,arial,sans-serif;margin:0 0 19px;color:grey;font-size:12px;line-height:16px">
                   请在此行上方进行回复
                </p>
                <span style="font-size:12px;line-height:18px;font-family:'Helvetica Neue',helvetica,sans-serif;color:#999999">
                                                                       组织：${companyName}
                </span>
            </td>
        </tr>
        <tr>
            <td> 
               <p style="margin:19px 0;padding:15px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#ffffff;width:100%">
                    ${userName}修改了#if($projectName)
 项目<span style="color:red">${projectName}</span>#else
日历<span style="color:red">${calendarName}</span>#end
 中事件<span style="color:red">${event-summary}</span>的日期
                </p>
            </td>
        </tr>
        <tr>
            <td>
               <p style="margin:19px 0;padding:15px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background:#ffffff;width:100%">
               ${content}
               </p>            
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height:19px;font-size:14px;margin:19px 0 9px;font-family:&quot;Helvetica Neue&quot;,helvetica,arial,sans-serif">
                    <a href="http://${host}/${url}" target="_blank"> 在onboard上查看该信息</a>
                </p>
            </td>
        </tr>
        <tr>
            <td> 
                <p style="font-family:&quot;Helvetica Neue&quot;,helvetica,arial,sans-serif;margin:0 0 19px;line-height:16px;color:grey;font-size:12px;margin-bottom:8px">
                    该邮件已发送至: 
                        #foreach ($subscriber in $subscribers)
                            <span style="margin:0 5px">${subscriber.name}</span>  
                        #end
                </p>
            </td>
        </tr>
    </tbody>
</table>