{"artefacts":[{"id":"org.eclipse.virgo.server.modulefactory:/onboard/onboard.plan"},
{"id":"org.eclipse.virgo.server.modulefactory:/com.onboard.parent/onboard.plan"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.osgi.dependencies"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.domain.mapper.model"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.domain.model"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.domain.dto"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.domain.index"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.domain.index.impl"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.domain.transform"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.domain.mapper"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.common"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.common.impl"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.web"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.web.impl"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.account"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.account.impl"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.activity"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.activity.impl"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.collaboration"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.notification"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.collaboration.impl"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.notification.impl"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.websocket"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.websocket.impl"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.security"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.security.impl"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.help"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.help.impl"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.upload"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.upload.impl"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.sampleProject"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.service.sampleProject.impl"},
{"id":"org.eclipse.virgo.server.modulefactory:com.onboard.web.api"}]}
