<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="${headTemplateName} :: headTag('403')">
</head>
<body>
<div class="content" style="margin-top: 45px;">
  <div class="container" style="width: 625px;padding-top: 94px;">
    <img alt="403" src="/static/img/403.png" />

    <div>
      <h2 style="margin: auto;width: 344px; font-family: SimSun; font-size: 16px;">
        船舱漏水了，快叫人来抢修！ 或者
      <a href="javascript:(history.back())">返回</a></h2>
    </div>
  </div>
</div>
</body>
</html>