<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="${headTemplateName} :: headTag('404')">
</head>
<body>
<div class="content">
  <div class="container700 container">
    <h1><a href="/">OnBoard.im</a></h1>
  </div>
  <div class="container700 container sheet account">
    <h3 class="page-header">注册链接失效</h3>
    <div class="page-content">
      <p>注册链接已经失效，已经完成注册？<a href="/account/signin">登录</a>试试</p>
    </div>
  </div>
</div>
</body>
</html>