<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="${headTemplateName} :: headTag('忘记密码')"></head>


<body class="account" id="login" ng-app="account">

  <div class="container" ng-controller="forgetPasswordCtrl">
    <div th:replace="fragments/Header :: header"></div>
    
    <div class="well" ng-show="resetInit === 'open'">
      <h3 class="page-header">重设密码</h3>
      <div class="page-content">
        <form class="form-reset" name="forgetPasswdForm">

          <div th:class="'input-group input-group-lg'" >
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="email" name="email" class="form-control" ng-model="forgetPasswdObject.email" placeholder="请输入您的邮箱地址" required="required" autofocus="autofocus"/>

          </div>
          <div class="alert alert-danger" role="alert" ng-show="forgetPasswdForm.email.$error.required
                &amp;&amp; forgetPasswdForm.email.$dirty">
            请输入您的邮箱！
          </div>
          <div class="alert alert-danger" role="alert" ng-show="forgetPasswdForm.email.$error.email
                &amp;&amp; forgetPasswdForm.email.$dirty">
            请输入有效的邮箱！
          </div>

          <div ng-show="stat==='error'" class="alert alert-danger">
            该用户不存在！
          </div>
          <a ng-click="forgetPasswdSend()" class="btn btn-primary forget-passwd-send-email">发送</a>
        </form>
      </div>
    </div>

    <div class="well" ng-show="sendSuccess === 'success'">
      <h3 class="page-header">重设密码</h3>
      <div class="page-content">
        <p>已发送重置密码邮件至您的邮箱，请按照邮件中的提示重置密码。</p>
      </div>
    </div>
  </div>

<div th:replace="fragments/Footer :: footer"></div>
</body>
</html>