<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="${headTemplateName} :: headTag('重设密码')"></head>

<body class="account" id="login">
  <ul class="bg-slideshow">
    <li>
      <span>Image 01</span>
    </li>
    <li>
      <span>Image 02</span>
    </li>
    <li>
      <span>Image 03</span>
    </li>
    <li>
      <span>Image 04</span>
    </li>
    <li>
      <span>Image 05</span>
    </li>
  </ul>
  <div class="resetPassword-modal">
    <div class="resetPassword-modal-dialog">
      <div class="resetPassword-modal-dialog-heading">
        <a href="/" title="回到主页"><img src="/static/img/login-logo.png" /></a>
      </div>

      <h3 ><small >重设密码</small></h3>

      <div class="resetPassword-modal-dialog-form"  th:object="${resetCommand}">
        <form class="form-sign" method="POST">

          <input type="hidden" th:field="*{token}"/>
          <div th:class="${#fields.hasErrors('password')} ? 'form-group ob-input-w-icon has-error' : 'form-group ob-input-w-icon'" >
            <i class="fa fa-key"></i>
            <input type="password" class="form-control" th:field="*{password}" placeholder="请输入您的新密码" required="required" autofocus="autofocus"/>
          </div>
          <div th:class="${#fields.hasErrors('repeatPassword')} ? 'form-group ob-input-w-icon has-error' : 'form-group ob-input-w-icon'" >
            <i class="fa fa-key"></i>
            <input type="password" class="form-control" th:field="*{repeatPassword}" placeholder="请确认您的新密码" required="required" autofocus="autofocus"/>
          </div>

          <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <span th:errors="*"></span>
          </div>

          <button type="submit" class="btn btn-primary btn-block">提交</button>
        </form>
      </div>
    </div>
  </div>
  <!--  
  <div class="container">
    <div th:replace="fragments/Header :: header"></div>
    
    <div class="well">
      <h3 class="page-header">重设密码123</h3>
      <div class="page-content">
        <form class="form-reset" th:object="${resetCommand}" method="post">
          <input type="hidden" th:field="*{token}"/>
          <div th:class="${#fields.hasErrors('password')} ? 'input-group input-group-lg has-error' : 'input-group input-group-lg'" >
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <input type="password" class="form-control" th:field="*{password}" placeholder="请输入您的新密码" required="required" autofocus="autofocus"/>
          </div>
          <div th:class="${#fields.hasErrors('repeatPassword')} ? 'input-group input-group-lg has-error' : 'input-group input-group-lg'" >
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <input type="password" class="form-control" th:field="*{repeatPassword}" placeholder="请确认您的新密码" required="required" autofocus="autofocus"/>
          </div>


          
          <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <span th:errors="*"></span>
          </div>
          
          <button type="submit" class="btn btn-primary">提交</button>
        </form>
      </div>
    </div>
  </div>
  -->
<div th:replace="fragments/Footer :: footer"></div>
</body>
</html>