<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="${headTemplateName} :: headTag('注册')"></head>


<body class="account" id="login">
<ul class="bg-slideshow">
    <li>
        <span>Image 01</span>
    </li>
    <li>
        <span>Image 02</span>
    </li>
    <li>
        <span>Image 03</span>
    </li>
    <li>
        <span>Image 04</span>
    </li>
    <li>
        <span>Image 05</span>
    </li>
</ul>
<div class="thirdpart-signup-modal">
    <div class="thirdpart-signup-modal-dialog">
        <div class="thirdpart-signup-modal-dialog-heading">
            <a href="/" title="回到主页"><img src="/static/img/login-logo.png"/></a>
        </div>
        <div class="thirdpart-signup-modal-dialog-form" th:object="${newCommand}">
            <form class="form-sign" method="POST" action="/account/signup/github">
                <div class="form-group ob-input-w-icon">
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" th:field="*{name}" placeholder="您的姓名" required="required" autofocus="autofocus"/>
                </div>
                <div class="form-group ob-input-w-icon">
                    <i class="fa fa-users"></i>
                    <input type="text" class="form-control" th:field="*{companyName}" placeholder="团队名称"
                           required="required" autofocus="autofocus"/>
                </div>
                <div class="form-group ob-input-w-icon">
                    <i class="fa fa-envelope"></i>
                    <input type="email" class="form-control" required="required" name="email"
                           autofocus="autofocus"  th:value="${thirdpartEmail}"/>
                </div>
                <div class="form-group">
                    <label><input class="ob-input-checkbox" th:field="*{agree}" type="checkbox" required="required"/> 我同意onboard.cn的<a>《使用协议》</a></label>
                </div>
                <button class="btn btn-primary btn-block" type="submit">确认</button>

            </form>
            <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('name')}">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong>用户名不合法：</strong> <span th:each="err : ${#fields.errors('name')}" th:text="${err}"></span>
            </div>
            <div th:if="!${#fields.hasErrors('name')}">
                <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('companyName')}">
                    <button type="button" class="close" data-dismiss="alert"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>团队名不合法：</strong> <span th:each="err : ${#fields.errors('companyName')}"
                                                   th:text="${err}"></span>
                </div>
                <div th:if="!${#fields.hasErrors('companyName')}">
                    <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('email')}">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <strong>邮箱不合法：</strong> <span th:each="err : ${#fields.errors('email')}"
                                                      th:text="${err}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="thirdpart-bind-modal-dialog-form">
            <div class="band-email">
                绑定已有邮箱
            </div>
            <form class="form-sign" method="POST" action="/account/signin">

                <div class="form-group ob-input-w-icon">
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control" name="email" placeholder="邮箱" required="required" autofocus="autofocus"/>
                </div>

                <div class="form-group ob-input-w-icon">
                    <i class="fa fa-lock"></i>
                    <input type="password" class="form-control" name="password" placeholder="密码" required="required"/>
                </div>

                <div class="form-group">
                    <label><input class="ob-input-checkbox" name="remember" type="checkbox" value="remember-me"/> 下次自动登录</label>
                    <a th:href="@{/account/forgetpassword}" href="#" class="pull-right">忘记密码?</a>
                </div>

                <button class="btn btn-primary btn-block" type="submit">登录</button>
            </form>
            <div class="alert alert-danger alert-dismissible" th:if="${loginError}">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                账号或密码错误，请重试
            </div>
        </div>
    </div>
</div>

<!--<div class="login-modal">-->
    <!--<div class="login-modal-dialog">-->
        <!--<div class="login-onboard">-->
            <!--<div class="login-modal-dialog-form">-->
                <!--<form class="form-sign" method="POST">-->
                    <!--<div class="form-group ob-input-w-icon">-->
                        <!--<i class="fa fa-user"></i>-->
                        <!--<input type="text" class="form-control" name="email" placeholder="邮箱/用户名" required="required" autofocus="autofocus"/>-->
                    <!--</div>-->

                    <!--<div class="form-group ob-input-w-icon">-->
                        <!--<i class="fa fa-lock"></i>-->
                        <!--<input type="password" class="form-control" name="password" placeholder="密码" required="required"/>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                        <!--<a th:href="@{/account/forgetpassword}" href="#" class="pull-right">忘记密码?</a>-->
                    <!--</div>-->

                    <!--<button class="btn btn-primary btn-block" type="submit">登录</button>-->
                <!--</form>-->
                <!--<div class="alert alert-danger alert-dismissible" th:if="${loginError}">-->
                    <!--<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span-->
                            <!--class="sr-only">Close</span></button>-->
                    <!--账号或密码错误，请重试-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div th:replace="fragments/Footer :: footer"></div>
</body>
</html>
